.back_ground{
    position: absolute;
    height: 100%;
    width: 100%;
    background : url('./BackGround.jpg');
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.Body{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
}
h1{
    margin : 0 auto;
    text-align: center;
    color: gray;
}

.digital_clock{
    width : 25rem;
    margin: 2rem auto;
    font-size: 2rem;
    text-align: center;
    color: #018DED;
}

.round_clock{
    position: relative; /*시침,분침,초침의 position을 위한 작업*/
    width : 25rem;
    height: 25rem;
    border: 0.5rem solid green;
    border-radius: 50%;
    margin : 3rem auto;
}

.hand{
    position: absolute;
    top: 50%;
    left : 50%;
    transform-origin: left center;
    transform: rotate(90deg);
    transition: all 0.05s;
    background: #018DED;
}

.second_hand{
    height : 2px;
    width : 50%;
}

.minute_hand{
    height: 4px;
    width : 40%;
}

.hour_hand{
    height: 6px;
    width: 30%;
}