header{
    text-align: center;
    margin : auto;
}

aside{
    position: absolute;
    width : 15rem;
    min-height : 50vh;
    left : 5%;
    border : 2px solid gray;
}

section{
    position: absolute;
    width : 80rem;
    left : 20%;
}

input{
    position: absolute;
    font-size: 2rem;
    left: 25%;
    width : 30rem;
    height : 5vh;
}
.aside_header{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    border-bottom: violet 1px solid;
}

.asdie_body ul li{
    padding-bottom: 0.5rem;
}

.result{
    position: relative;
    font-size: 1.5rem;
    left:30%;
    border : gray solid 1px;
}
