body{
    font-family: sans-serif;
}

header{
    position : relative;
    text-align: center;
}

.container{
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container_item{
    position: relative;
    padding : 5px;
    justify-content: center;
    display : inline-block;
}

.item_text{
    margin: 0 auto;
    text-align: center;
    width: 7rem;
    height : 7rem;
    border : solid .4rem black;
    border-radius: .5rem;
    color :white;
    transition: all .07s ease;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}

.playing{
    transform: scale(1.1);
    border-color: blue;
    box-shadow: 0 0 1rem blue;
}

